doctype html 
html 
 head 
  title=title 
 body 
 p hello world 
 a(href='http://www.google.com') Google 
 -var friend =10
 
 h1 #{friend}
 case friend 
 when friend 0
p friendsss 0
 when friend 10
 p friendsss 10
 default 
p friendss default
//- doctype html
//- html
//-   head
//-     title= title
   
//-   body
//-  - var  friend=10
//- p #{friend}